/* Current Weather Row */
.CurrentWeatherRow {
  height: 25vmin;
  margin: 3vmin 2vmin 2vmin 2vmin;
  font-size: 3.4em;
}
/* Free to use animated SVG weather icons. Handcrafted by [Bas Milius](https://bas.dev). */
