.CurrentTemperatureCol {
  margin: 1vmin;
  font-weight: 600;
}

.CurrentTemperatureCol hr {
  margin: 0;
}

.CurrentTemperatureCol .description {
  margin-left: 2vmin;
  text-transform: capitalize;
}

.CurrentTemperatureCol .tempeture {
  max-width: fit-content;
  font-size: 6em;
  line-height: 1em;
}
.CurrentTemperatureCol .degree {
  max-width: fit-content;
  margin-top: 2vmin;
  font-size: 1.7em;
}

.CurrentTemperatureCol a {
  text-decoration: none;
}

.CurrentTemperatureCol .not-select-degree {
  color: #7f7e7e;
}
.CurrentTemperatureCol .not-select-degree:hover {
  cursor: pointer;
}
/* Free to use animated SVG weather icons. Handcrafted by [Bas Milius](https://bas.dev). */
